@import '../../styles/app';
.sidebar {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
  overflow-y: auto;

  @include scroll-bar($sidebar-scrollbar-bg);
}

.sidebarClose .navTitle {
  opacity: 0;
}

.sidebarStatic .navTitle {
  opacity: 1;
  transition: none;
}

.actionLink {
  color: #aaa;
  float: right;
  margin-right: 15px;
  margin-top: -1px;

  .la {
    font-size: $font-size-sm;
    margin-top: 4px;
  }
}

.labelName {
  opacity: 1;
  transition: opacity $sidebar-transition-time ease-in-out;
}

.sidebarClose .labelName {
  opacity: 0;
}

.sidebarStatic .labelName {
  transition: none;
  opacity: 1;
}

.glyphiconSm {
  font-size: 9px;
}

.sidebarLabels {
  list-style-type: none;
  padding: 11px;
  padding-right: 15px;

  > li + li {
    margin-top: 10px;
  }

  li > a {
    font-size: $font-size-mini;
    color: $sidebar-color;
    text-decoration: none;

    > i {
      font-size: 11px;
      vertical-align: 1px;
      transition: margin-left $sidebar-transition-time ease-in-out;
    }
  }
}

.sidebarClose {
  .sidebarLabels > li > a > i {
    margin-left: 8px;
    transition: margin-left $sidebar-transition-time ease-in-out;
  }
}

.sidebarStatic {
  .sidebarLabels > li > a > i {
    transition: none;
    margin-left: 0;
  }
}

.sidebarAlerts {
  margin-bottom: $spacer * 2;
  transition: opacity $sidebar-transition-time ease-in-out;
  opacity: 1;
}

.sidebarStatic .sidebarAlerts {
  opacity: 1;
  transition: none;
}

.sidebarAlert {
  background: transparent;
  margin-bottom: 0;
  padding-right: 15px;
}

.sidebarProgress {
  background: lighten($sidebar-bg-color, 10%);
}

.groupTitle {
  margin-bottom: 15px;
}

.categoriesList
{
   height: 320px;
   overflow-y: auto;
}

.categoryLegends {
  width: 600px;
}
.notificationIcon {
  margin-right: 1rem;
  float: left;
}

.categoryItem{
    position: relative;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-right: 1.25rem;
    margin-bottom: 1rem;
}