@import '../../styles/app';

.profileAvatar{
    border: 3px solid #fff;
}

.thumb-xl, .thumb-xs {
    position: relative;
    display: inline-block;
    text-align: center;
}

.profileContactContainer{
    margin-top: -70px;
}

.notificationIcon {
    margin-right: 1rem;
    float: left;
  }  