@import '../../styles/app';

table {
  td, th {
    font-weight: $font-weight-normal;
  }

  tbody tr {
    &:nth-child(odd) {
      background: $gray-100;
    }

    td {
      min-width: 100px;
    }
  }
}
.notificationIcon {
  margin-right: 1rem;
  float: left;
}

.my-widget-icon {
  font-size: 42px;
  height: 60px;
  line-height: 45px;
  display: inline-block;
}

.bankList
{
   height: 340px;
   overflow-y: auto;
}

.scrolledList
{
   height: 290px;
   overflow-y: auto;
}

.news-list .icon {
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
}
.news-list .icon, .grid-page .news-list img {
  float: left;
  height: 40px;
  width: 40px;
}
.news-list .news-item-info {
  margin-left: 50px;
}
.text-white {
  color: #fff !important;
}

[v-cloak] {display: none}