@import '../../styles/app';

.header {
  z-index: 100;
  padding: 7px 1.85rem 0;
  background: $body-bg;

  @include media-breakpoint-down(md) {
    padding: 7px 10px;
  }

  .la-globe {
    padding-top: 5px;
  }
}

.navbarForm {
  padding: 6px 0 6px 1rem;
  margin-left: 10px;
  display: inline-block;
  top: 2px;
  width: auto;

  .inputAddon {
    position: relative;
    display: inline;
    border: none;
    background-color: #fff;
    transition: background-color ease-in-out 0.15s;
  }

  input {
    border: none;
    padding: 0.6rem 0.85rem 0.6rem 0;
    display: inline !important;
    width: 250px !important;
    top: 2px;
  }
}

.avatar {
  width: 30px;
}

.navbarBrand {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  pointer-events: none;

  i {
    font-size: 10px;
  }
}

.notificationsMenu {
  .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    top: $navbar-height !important;
  }
}

.settingsDropdown {
  .dropdown-item:focus {
    outline: none;
  }
}

.notificationsWrapper {
  width: min-content;
}

.iconSize{
  font-size: 16px;
}
.text-grey{
  color: grey;
}
