
.login-right{
  margin-left: auto !important;
}

.hero-img-logo {
  height: 100%;
  background: transparent url("../../assets/main-logo.svg") no-repeat center;
  position: absolute;
  width: 25vw;
  box-sizing: border-box;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 10s ease-in-out infinite;
  z-index: 20;
}

.login-page {
  padding-top: 20vh;
  height: 100%;
  background: linear-gradient(135deg, #093554 0%,#058ed8 50%,#f4ebc9 100%);

  .widget {
    max-width: 460px;
    padding: 30px !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 10;
    }
  }

  .footer {
    margin-bottom: 25px;
    font-size: 13px;
    color: #636c72;
    text-align: center;

    @media (min-height: 600px) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .logo-description {
    font-size: 17px;
    color: white;
    text-align: right;
  }

  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40pt;
    font-weight: 600;
    margin-top: 40px;
    color: white;

    i {
      font-size: 13px;
      margin: 0 20px;
    }
  }
}
