@import '../../styles/app';

.row{
  flex-wrap: unset;
}
.stats-row {
  margin-top: -38px;
  margin-left: 100px;
}

.profileAvatar {
  border: 3px solid #fff;
}

.profileContactContainer{
  margin-top: -45px;
}

.profileStatValue {
  font-size: 20px;
  font-weight: 300 !important;
  margin-bottom: 0;
}

.thumb, .thumb-lg, .thumb-sm, .thumb-xl, .thumb-xs {
  position: relative;
  display: inline-block;
  text-align: center;
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
}
.thumb-xl {
    width: 80px;
}
.mb-3, .my-3, .mt-3 {
  margin-bottom: 0rem !important;
}

.widget-top{
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.btn-transfer {
  top: auto;
  bottom: 0;
  z-index: 1;
  margin-right: 10px;
}

.user {
  height: 32%;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.tables-basic {
  .table th {
    font-size: $font-size-sm;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #d6dee5;
      border-bottom-width: 2px;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #d6dee5;
}

.table > thead > tr > td {
  border-top: none !important;
  border-bottom-width: 1px !important;
  text-transform: uppercase;
  font-size:12.25px;
  font-weight: 600;
}

th {
  font-weight: 600;
}

th {
  text-align: inherit;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.date-width{
  width: 20%;
}

.type-width{
  width: 10%;
  text-align: center;
}

.center{
  text-align: center;
}

.description-left{
  text-align: left;
  margin-left: 30px;
}

.categoriesDropDown
{
   height: 170px;
   overflow-y: auto;
}
.category{
  width: 29px;
  height: 29px;
}